{% extends 'base.html.twig' %}

{% block title %}Créer un article{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/create-article.css') }}">{% endblock%}

{% block body %}
<div class="container">

    <h1 class="my-5 text-center">Créer un article</h1>

    <!-- On met en forme le formulaire en découpant chaque champs avec la fonction form_row de Twig -->
    {{ form_start(articleForm) }}

        <div class="row align-items-center">
            <div class="col-md-8">
                {{ form_row(articleForm.title) }}
                {{ form_row(articleForm.content) }}
            </div>
            <div class="col-md-3 offset-md-1 text-center">
                <!-- Pour afficher l'image dans le label avant le submit, on utilise le JS et on cache l'input de base -->
                <label for="article_image" class="articleImageLabel">
                    <p>Image de couverture</p>
                    <div id="articleImgContainer" class="hasBorder">
                        <img id="articleImg" class="w-100">
                    </div>
                </label>
                {{ form_row(articleForm.image )}}
            </div>
        </div>
        <div class="text-center mt-5">
            {{ form_row(articleForm.submit)}}
        </div>

    {{ form_end(articleForm) }}

    <a href="{{ path('account') }}" class="btn btn-outline-light mt-5">Revenir au compte</a>

</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/create-article.js') }}"></script>
{% endblock %}