{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="container">

        {{ form_start(registrationForm) }}

            <h1 class="h3 my-3">S'inscrire</h1>

            <label for="registration_form_pseudo">Pseudo</label>
            {{ form_row(registrationForm.pseudo) }}
            <label for="registration_form_email" class="mt-2">Email</label>
            {{ form_row(registrationForm.email) }}
            <label for="registration_form_password" class="mt-2">Mot de passe</label>
            {{ form_row(registrationForm.plainPassword) }}
            {{ form_row(registrationForm.agreeTerms) }}

            <button class="btn btn-lg btn-primary mt-3">S'inscrire</button>

        {{ form_end(registrationForm) }}
        <div class="mt-4">Déjà inscris? <a href="{{ path('login') }}" class="text-primary">Connectez-vous !</a></div>
    </div>
{% endblock %}
