{% extends 'base.html.twig' %}

{% block title %}{{ article.title | capitalize }}{% endblock %}

{% block stylesheets %}<link rel="stylesheet" href=" {{ asset('assets/css/articles.css') }}">{% endblock%}

{% block body %}
<div class="container">

    {% for message in app.flashes('success') %}
        <div class="alert alert-success my-3">
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="text-center">{{ article.title | capitalize }}</h1>
    <h5 class="mb-5 text-center"><em>Le {{ article.createdAt.date | date('d/m/Y') }}</em></h5>

    <div id="articleContainer">
        <div id="articleImgContainer" class="text-center">
            <img src="{{ asset('assets/uploads/articles/' ~ article.image) }}" alt="{{ article.title }}">
        </div>  
        <div id="articleTextContainer">
            <div>{{ article.content | raw }}</div>
        </div>
    </div>

    <!-- Si l'utilisateur est administrateur, on affiche les boutons -->
    {% if is_granted('ROLE_ADMIN') %}
        <div id="adminContainer">
            <!-- Si l'article est en attente de validation, on permet à l'admin de le valider -->
            {% if article.state == false %}
                <a href="{{ path('validate-article', {id: article.id}) }}" class="btn btn-outline-success btn-lg">Valider l'article</a>
            {% endif %}
            <a href="{{ path('update-article', {id: article.id}) }}" class="btn btn-outline-primary btn-lg">Modifier l'article</a>
            <a href="{{ path('remove-article', {id: article.id}) }}" class="btn btn-outline-danger btn-lg">Supprimer l'article</a>
        </div>
    {% endif %}

    <a href="{{ path('articles') }}" class="btn btn-outline-light mt-5">Revenir à tous les articles</a>

    <!-- Section commentaires  -->
    <h2 class="mt-5 mb-3">Commentaires</h2>
    
    {% if is_granted('ROLE_USER') %}
        {{ form(commentForm) }}
    {% else %}
        <div class="alert alert-dark" role="alert">
            <a href="{{ path('login') }}" class="alert-link">Connectez vous</a> pour poster un commentaire !
        </div>
    {% endif %}

    {% if comments == [] %}
        <p id="noComment">Il n'y a aucun commentaire pour le moment :(</p>
    {% else %}
        <div id="commentsContainer">
            {% for comment in comments %}
                <div class="commentContainer">
                    <div class="commentAvatar">
                        {% if comment.user.avatar %}
                            <img src="{{ asset('assets/uploads/users/' ~ comment.user.avatar) }}" alt="avatar">
                        {% else %}
                            <i class="far fa-user-circle"></i>
                        {% endif %}
                    </div>
                    <div class="commentInfos">
                        <p class="comment">{{comment.content}}</p>
                        <em>De {{ comment.user.pseudo }} le {{ comment.createdAt.date | date('d/m/Y') }}</em>
                        {% if is_granted('ROLE_ADMIN') %}
                            <br>
                            <a href="{{ path('remove-comment', {id: comment.id}) }}" class="btn btn-outline-danger">Supprimer</a>
                        {% endif %}
                        <hr>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

</div>
{% endblock %}