<div id="navbar">

    <a href="{{ path('home') }}" class="navbar-item" id="{% if onPage == 'home'%}active{% endif %}">
        <h5>Accueil</h5>
    </a>
    <a href="{{ path('bio') }}" class="navbar-item" id="{% if onPage == 'bio'%}active{% endif %}">
        <h5>Biographie</h5>
    </a>
    <a href="{{ path('articles') }}" class="navbar-item" id="{% if onPage == 'articles'%}active{% endif %}">
        <h5>Réalisations</h5>
    </a>
    <a href="{% if is_granted('ROLE_USER') %}{{ path('account') }}{% else %}{{ path('login') }}{% endif %}" class="navbar-item" id="{% if onPage == 'account'%}active{% endif %}">
        <h5>Mon compte</h5>
    </a>

</div>

<div id="burger">
    <i class="fas fa-bars"></i>
</div>

<ul id="responsive-navbar">
    <a href="{{ path('home') }}" class="responsive-navbar-item" id="{% if onPage == 'home'%}active{% endif %}">
        <h5>Accueil</h5>
    </a>
    <a href="#" class="responsive-navbar-item">
        <h5>Biographie</h5>
    </a>
    <a href="#" class="responsive-navbar-item">
        <h5>Réalisations</h5>
    </a>
    <a href="#" class="responsive-navbar-item">
        <h5>Mon compte</h5>
    </a>
</ul>